html, body{
    font-family: 'Noto Sans KR', sans-serif;
}
header{
    position: fixed;
    left: 0;
    width: 100%;
    background: transparent;
    transition: .3s;
    z-index: 100;
    color: #fff;
}

header.scroll{
    background: #44187f;
}

header div{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header h1{
    width: 135px;
}
header a{
    padding: 30px 0;
    font-size: 20px;
    font-weight: 700;
}
header nav{
    width: calc(100% - 135px);
}

header .gnb{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

header li a.active{
    position: relative;
}
header.scroll li a.active::before{
    content: '';
    position: absolute;
    border-top: 5px solid #fff;
    width: 100%;
    top: 20px;
    left: 0;
}

/* !header area fin */

footer{
    background: #44187f;
}
footer p{
    padding: 30px 0;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
footer button{
    position: absolute;
    bottom: 0;
}
/* !footer area fin */
.guide_line{
    width: 1200px;
    margin: 0 auto 100px;
}
.section_title{
    width: 1200px;
    margin: 0 auto 50px;
    color: #44187f;
    font-size: 45px;
    font-weight: 700;
}
.top_btn {
    position: fixed;
    top: 920px;
    right: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
  }
.top_btn img{
    border-radius: 50%;
}

@media screen and (max-width: 1580px){
    header div{
        width: calc(100vw*(1200/1580));
    }
    header h1{
        width: calc(100vw*(135/1580));
    }
    header a{
        padding: calc(100vw*(30/1580)) 0;
        font-size: calc(100vw*(20/1580));
    }
    header nav{
        width: calc(100% - calc(100vw*(135/1580)));
    }
    
    header .gnb{
        gap: calc(100vw*(30/1580));
    }
    header.scroll li a.active::before{
        border-top: calc(100vw*(5/1580)) solid #fff;
        top: calc(100vw*(20/1580));
    }
    /* !header area fin */
    
    footer p{
        padding: calc(100vw*(30/1580)) 0;
        font-size: calc(100vw*(16/1580));
    }
    /* !footer area fin */
    .guide_line{
        width: calc(100vw*(1200/1580));
        margin: 0 auto calc(100vw*(100/1580));
    }
    .section_title{
        width: calc(100vw*(1200/1580));
        margin: 0 auto calc(100vw*(50/1580));
        font-size: calc(100vw*(45/1580));
    }
    .top_btn {
        display: none;
      }
}
@media screen and (max-width: 769px){
    header div{
        width: calc(100vw*(300/370));
    }
    
    header h1{
        width: calc(100vw*(135/370));
    }
    header a{
        padding: calc(100vw*(30/370)) 0;
        font-size: calc(100vw*(14/370));
    }
    header nav{
        width: calc(100% - calc(100vw*(135/370)));
    }

    header .gnb{
        gap: calc(100vw*(30/370));
    }
    header.scroll li a.active::before{
        border-top: calc(100vw*(5/370)) solid #fff;
        top: calc(100vw*(20/370));
    }
    /* !header area fin */
    
    footer p{
        padding: calc(100vw*(30/370)) 0;
        font-size: calc(100vw*(16/370));
    }
    /* !footer area fin */
    .guide_line{
        width: calc(100vw*(300/370));
        margin: 0 auto calc(100vw*(100/370));
    }
    .section_title{
        width: calc(100vw*(1200/370));
        margin: 0 auto calc(100vw*(50/370));
        font-size: calc(100vw*(30/370));
    }
}