html, body{
    font-family: 'Noto Sans KR', sans-serif;
}
html.hidden, body.hidden{
    overflow: hidden;
}

header{
    position: fixed;
    left: 0;
    width: 100%;
    background: transparent;
    transition: .3s;
    z-index: 100;
    color: #fff;
}

header.scroll{
    background: #44187f;
}

header .inner{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header h1{
    width: auto;
}
header a{
    padding: 30px 0;
    font-size: 20px;
    font-weight: 700;
}

header .gnb{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
header .mb_gnb{
    display: none;
}

header li a.active{
    position: relative;
}
header.scroll li a.active::before{
    content: '';
    position: absolute;
    border-top: 5px solid #fff;
    width: 100%;
    top: 20px;
    left: 0;
}

/* !header area fin */

footer{
    background: #44187f;
}
footer p{
    padding: 30px 0;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
footer button{
    position: absolute;
    bottom: 0;
}
/* !footer area fin */
.guide_line{
    width: 1200px;
    margin: 0 auto 100px;
}
.section_title{
    width: 1200px;
    margin: 0 auto 50px;
    color: #44187f;
    font-size: 45px;
    font-weight: 700;
}
.top_btn {
    position: fixed;
    top: 920px;
    right: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
  }
/* .top_btn img{
    border-radius: 50%;
} */

@media screen and (max-width: 1580px){
    header .inner{
        width: calc(100vw*(1200/1580));
    }
    header a{
        padding: calc(100vw*(30/1580)) 0;
        font-size: calc(100vw*(20/1580));
    }
    
    header .gnb{
        gap: calc(100vw*(30/1580));
    }
    header.scroll li a.active::before{
        border-top: calc(100vw*(5/1580)) solid #fff;
        top: calc(100vw*(20/1580));
    }
    /* !header area fin */
    
    footer p{
        padding: calc(100vw*(30/1580)) 0;
        font-size: calc(100vw*(16/1580));
    }
    /* !footer area fin */
    .guide_line{
        width: calc(100vw*(1200/1580));
        margin: 0 auto calc(100vw*(100/1580));
    }
    .section_title{
        width: calc(100vw*(1200/1580));
        margin: 0 auto calc(100vw*(50/1580));
        font-size: calc(100vw*(45/1580));
    }
    .top_btn {
        display: none;
      }
}
@media screen and (max-width: 769px){
    header .inner{
        width: calc(100vw*(300/370));
    }
    
    header a{
        padding: calc(100vw*(15/370)) 0;
        font-size: calc(100vw*(14/370));
    }
    header .menu{
        display: flex;
        align-items: center;
    }
    header .menu_btn{
        position: relative;
        width: calc(100vw*(22/370));
        height: calc(100vw*(12/370));
        cursor: pointer;
    }
    header .menu_btn span{
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 15px;
        background: #fff;
        transition: all 0.35s;
        z-index: 100;
    }
    header .menu_btn span:first-of-type{
        top: 0;
    }
    header .menu_btn span:nth-of-type(2){
        top: calc(100vw*(6/370));
        transform: translateY(-50%);
    }
    header .menu_btn span:last-of-type{
        bottom: 0;
    }
    header .menu_btn.active span:first-of-type{
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    header .menu_btn.active span:nth-of-type(2){
        opacity: 0;
    }
    header .menu_btn.active span:last-of-type{
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
    }
    header nav{
        width: calc(100vw*(210/370));
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        top: 0;
        right: calc(100vw*(-210/370));
        z-index: 30;
        transition: all 0.35s;
    }
    header nav.active{
        right: 0;
    }
    header .nav_filter.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: auto;
    }
    .nav_bg{
        width: calc(100% - 100vw*(210/370));
        height: 100%;
    }

    header .gnb{
        display: none;
    }
    header .mb_gnb{
        display: block;
        padding: calc(100vw*(30/370));
    }
    header.scroll li a.active::before{
        border-top: calc(100vw*(3/370)) solid #fff;
        top: auto;
        bottom: 0;
    }
    /* !header area fin */
    
    footer p{
        padding: calc(100vw*(30/370)) 0;
        font-size: calc(100vw*(10/370));
    }
    /* !footer area fin */
    .guide_line{
        width: calc(100vw*(300/370));
        margin: 0 auto calc(100vw*(50/370));
    }
    .section_title{
        width: calc(100vw*(300/370));
        margin: 0 auto calc(100vw*(30/370));
        font-size: calc(100vw*(30/370));
    }
}